@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,regular,italic,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3E3E3E;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

body {
  background: #FFF;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 66.25rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0.75rem 1.0625rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background: #F7F8FF;
  outline: none;
  cursor: pointer;
  color: #000;
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.input:focus {
  border: 2px solid #0075FF;
}

.input::-webkit-input-placeholder {
  color: #8F99A8;
}

.input::-moz-placeholder {
  color: #8F99A8;
}

.input:-ms-input-placeholder {
  color: #8F99A8;
}

.input::-ms-input-placeholder {
  color: #8F99A8;
}

.input::placeholder {
  color: #8F99A8;
}

textarea.input {
  width: 100%;
  min-height: 9rem;
  resize: vertical;
  padding: 0.875rem 1.0625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.09375rem;
  color: #000;
}

.title--info {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #0075FF;
}

.title--corona {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.title--corona::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  gap: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/icons/сorona.svg") 0 0/100% 100% no-repeat;
  -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.title span {
  color: #0075FF;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  line-height: 0.875;
  font-weight: 700;
  color: #FFF;
  padding: 1.1875rem 2.875rem;
  background: #0075FF;
  border: 2px solid #0075FF;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0px 6px 23px rgba(0, 117, 255, 0.46);
}

.button--border {
  background: transparent;
  color: #0075FF;
  -webkit-box-shadow: 0px 6px 23px transparent;
          box-shadow: 0px 6px 23px transparent;
}

.button:active,
.button--border:active {
  color: #FFF;
  background: #005ECC;
  border: 2px solid #005ECC;
  -webkit-box-shadow: 0px 8px 14px rgba(0, 83, 181, 0.48);
          box-shadow: 0px 8px 14px rgba(0, 83, 181, 0.48);
}

.no-webp .header{
  background: url("../img/background-header.jpg") center 0/cover; }

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  color: #FFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 11.25rem 1fr 11.25rem;
  grid-template-columns: 11.25rem 1fr 11.25rem;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  justify-self: flex-start;
}

.menu__body {
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  background: #0075FF;
  overflow: auto;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu-open .menu__body {
  right: 0;
}

.menu__item:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.menu__item:last-child {
  margin-bottom: 3rem;
}

.menu__link {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.0625rem;
  background-color: #FFF;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  -webkit-transform: translate(0, 0.5rem);
      -ms-transform: translate(0, 0.5rem);
          transform: translate(0, 0.5rem);
}

.menu__image {
  z-index: 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.menu__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu__call {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.3333;
  /* 16/12 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu__call::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/icons/phone.svg") 0 0/100% 100% no-repeat;
}

.call-to-order__item {
  display: block;
}

.call-to-order__item:not(:last-child) {
  margin-bottom: 1rem;
}

.call-to-order__link {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.3333;
  /* 16/12 */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #FFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.call-to-order__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.0625rem;
  background-color: #FFF;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  -webkit-transform: translate(0, 0.5rem);
      -ms-transform: translate(0, 0.5rem);
          transform: translate(0, 0.5rem);
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.125rem;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  border-radius: 0.0625rem;
  background-color: #FFF;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.no-webp .footer{
  background: url("../img/background-footer.jpg") 0 0/cover no-repeat; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__image {
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.5rem;
          flex: 0 0 8.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.no-webp .main-page{
  background: url("../img/background.jpg") center 0/cover; }

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-page__container {
  width: 100%;
}

.main-page__title {
  margin-bottom: 5rem;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.09375rem;
  color: #FFF;
  position: relative;
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
}

.main-page__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 0.125rem;
  -webkit-transform: translate(0rem, -1.5rem);
      -ms-transform: translate(0rem, -1.5rem);
          transform: translate(0rem, -1.5rem);
  background-color: #FFF;
}

.main-page__title._watcher-view {
  -webkit-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.experience__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.experience__title {
  max-width: 14.6875rem;
  -webkit-transform: translate(-20%, 0);
      -ms-transform: translate(-20%, 0);
          transform: translate(-20%, 0);
  opacity: 0;
}

.experience__title:not(:last-child) {
  margin-bottom: 3rem;
}

.experience__title._watcher-view {
  -webkit-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.experience__content {
  -webkit-transform: translate(20%, 0);
      -ms-transform: translate(20%, 0);
          transform: translate(20%, 0);
  opacity: 0;
}

.experience__content._watcher-view {
  -webkit-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.experience__label:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.experience__text {
  line-height: 1.6875;
  /* 27/16 */
  color: #3E3E3E;
}

.experience__text span {
  font-weight: 700;
}

.experience__text p:nth-child(-n+2) {
  margin-bottom: 1.6875rem;
}

.gallery__container {
  text-align: center;
}

.gallery__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.gallery__body:not(:last-child) {
  margin-bottom: 2rem;
}

.gallery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5rem;
}

.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: perspective(400px) rotateX(45deg);
          transform: perspective(400px) rotateX(45deg);
  opacity: 0;
}

.gallery__item::before {
  content: "";
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.gallery__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.gallery__item._watcher-view {
  -webkit-transform: perspective(400px) rotateX(0deg);
          transform: perspective(400px) rotateX(0deg);
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.gallery__info {
  text-align: start;
  font-size: 1rem;
  line-height: 1.6875;
  /* 27/16 */
  color: #3E3E3E;
}

.gallery__info span {
  font-weight: 700;
  color: #0075FF;
}

.testimonials__container {
  text-align: center;
}

.testimonials__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 3rem;
}

.testimonials__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9.375rem;
          flex: 0 0 9.375rem;
  width: 9.375rem;
  height: 9.375rem;
}

.testimonials__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.testimonials__name:not(:last-child) {
  margin-bottom: 0.25rem;
}

.testimonials__info {
  font-size: 0.875rem;
  line-height: 1.92857;
  /* 27/14 */
  color: #9FADC2;
}

.testimonials__info:not(:last-child) {
  margin-bottom: 0.25rem;
}

.testimonials__text {
  line-height: 1.6875;
  /* 27/16 */
  color: #3E3E3E;
}

.testimonials__text:not(:last-child) {
  margin-bottom: 0.25rem;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
}

.contact__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-grid-columns: (25.6875rem)[2];
  grid-template-columns: repeat(2, 25.6875rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 2.5rem;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.contact__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3.875rem 1.5rem 3.875rem;
  grid-template-rows: repeat(2, 3.875rem);
  -ms-grid-columns: 9.375rem 2.5rem 9.375rem;
  grid-template-columns: repeat(2, 9.375rem);
      grid-template-areas: "phone address" "email address";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 1.5rem;
  -webkit-transform: translate(-20%, 0%);
      -ms-transform: translate(-20%, 0%);
          transform: translate(-20%, 0%);
  opacity: 0;
}

.contact__items._watcher-view {
  -webkit-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.contact__item--phone {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: phone;
}

.contact__item--email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: email;
}

.contact__item--address {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: address;
}

.contact__form {
  -webkit-transform: translate(20%, 0%);
      -ms-transform: translate(20%, 0%);
          transform: translate(20%, 0%);
  opacity: 0;
}

.contact__form._watcher-view {
  -webkit-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.item-contact__title {
  font-size: 0.875rem;
  line-height: 1.92857;
  /* 27/14 */
  color: #9FADC2;
}

.item-contact__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.item-contact__text {
  font-size: 1rem;
  line-height: 1.6875;
  /* 27/16 */
  color: #3E3E3E;
}

.item-contact__text:not(:last-child) {
  margin-bottom: 0.5rem;
}

.form-contact__line:not(:last-child) {
  margin-bottom: 1rem;
}

.form-contact__buttons {
  margin-top: 2rem;
}

.form-contact__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 29.99875em) {
  .gallery__item--01 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 8;
    grid-column-end: 9;
  }

  .gallery__item--02 {
    -ms-grid-column: 9;
        grid-column-start: 9;
    -ms-grid-column-span: 4;
    grid-column-end: 13;
  }

  .gallery__item--03 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
  }

  .gallery__item--04 {
    -ms-grid-column: 7;
        grid-column-start: 7;
    -ms-grid-column-span: 6;
    grid-column-end: 13;
  }

  .gallery__item--05 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
  }

  .gallery__item--06 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    -ms-grid-column-span: 8;
    grid-column-end: 13;
  }
}

@media (min-width: 47.99875em) {
  .testimonials__column:nth-child(1) {
    -webkit-transform: translate(-20%, 0);
        -ms-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
    opacity: 0;
  }

  .testimonials__column:nth-child(1)._watcher-view {
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .testimonials__column:nth-child(2) {
    -webkit-transform: translate(0%, 20%);
        -ms-transform: translate(0%, 20%);
            transform: translate(0%, 20%);
    opacity: 0;
  }

  .testimonials__column:nth-child(2)._watcher-view {
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .testimonials__column:nth-child(3) {
    -webkit-transform: translate(20%, 0);
        -ms-transform: translate(20%, 0);
            transform: translate(20%, 0);
    opacity: 0;
  }

  .testimonials__column:nth-child(3)._watcher-view {
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }
}

@media (min-width: 66.25em) {
  .title {
    font-size: 3rem;
  }

  .header__container {
    min-height: 8rem;
  }

  .header__container {
    min-height: 8rem;
  }

  .menu__body {
    padding-top: 9.5rem;
  }

  .menu__body {
    padding-left: 7.5rem;
  }

  .menu__body {
    min-height: 8rem;
  }

  .menu__image {
    max-width: 8.5rem;
  }

  .footer__container {
    min-height: 22.4375rem;
  }

  .footer__container {
    padding-bottom: 2rem;
  }

  .footer__image {
    max-width: 8.5rem;
  }

  .page__main {
    margin-bottom: 6.5rem;
  }

  .page__experience {
    margin-bottom: 6.6875rem;
  }

  .page__gallery {
    margin-bottom: 6.5rem;
  }

  .page__testimonials {
    margin-bottom: 6.5rem;
  }

  .page__contact {
    margin-bottom: 7.5rem;
  }

  .main-page {
    min-height: 43.75rem;
  }

  .main-page {
    min-height: 43.75rem;
  }

  .main-page__title {
    margin-left: 7.5rem;
  }

  .main-page__title {
    max-width: 31.25rem;
  }

  .main-page__title {
    font-size: 5rem;
  }

  .gallery__title:not(:last-child) {
    margin-bottom: 5rem;
  }

  .gallery__items:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .gallery__item {
    height: 16rem;
  }

  .gallery__info:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .testimonials__title:not(:last-child) {
    margin-bottom: 5rem;
  }

  .testimonials__images:not(:last-child) {
    margin-bottom: 2rem;
  }

  .contact__title:not(:last-child) {
    margin-bottom: 4.3125rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.25rem;
  }

  .header__container {
    min-height: 6.4914375rem;
  }

  .menu__body {
    padding-top: 7.75rem;
  }

  .menu__body {
    padding-left: 2.5rem;
  }

  .menu__body {
    min-height: 6.25rem;
  }

  .menu__image {
    max-width: 5.125rem;
  }

  .footer__container {
    min-height: 12.875rem;
  }

  .footer__container {
    padding-bottom: 1.5rem;
  }

  .footer__image {
    max-width: 5.125rem;
  }

  .page__main {
    margin-bottom: 4rem;
  }

  .page__experience {
    margin-bottom: 4rem;
  }

  .page__gallery {
    margin-bottom: 4rem;
  }

  .page__testimonials {
    margin-bottom: 4rem;
  }

  .page__contact {
    margin-bottom: 4rem;
  }

  .main-page {
    min-height: 35.5rem;
  }

  .main-page__title {
    margin-left: 0.0000000625rem;
  }

  .main-page__title {
    max-width: 17.5rem;
  }

  .main-page__title {
    font-size: 2.875rem;
  }

  .gallery__title:not(:last-child) {
    margin-bottom: 3.3125rem;
  }

  .gallery__items:not(:last-child) {
    margin-bottom: 1rem;
  }

  .gallery__item {
    height: 8.1875rem;
  }

  .gallery__info:not(:last-child) {
    margin-bottom: 2rem;
  }

  .testimonials__title:not(:last-child) {
    margin-bottom: 1.8125rem;
  }

  .testimonials__images:not(:last-child) {
    margin-bottom: 1.75rem;
  }

  .contact__title:not(:last-child) {
    margin-bottom: 1.8125rem;
  }
}

@media (max-width: 56.25em) {
  .contact__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (25.6875rem)[1];
    grid-template-columns: repeat(1, 25.6875rem);
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -ms-grid-columns: 2.5rem 1fr 2.5rem;
    grid-template-columns: 2.5rem 1fr 2.5rem;
  }

  .menu__call {
    font-size: 0rem;
  }

  .experience__container {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .experience__title {
    max-width: 85.05%;
  }

  .testimonials__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials__column {
    -webkit-transform: translate(0%, 20%);
        -ms-transform: translate(0%, 20%);
            transform: translate(0%, 20%);
    opacity: 0;
  }

  .testimonials__column._watcher-view {
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
    opacity: 1;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }
}

@media (max-width: 29.99875em) {
  .icon-menu {
    width: 1.125rem;
    height: 0.75rem;
  }

  .main-page__title {
    line-height: 1.15;
  }

  .gallery__items {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    grid-gap: 1.125rem;
  }

  .gallery__item {
    grid-column: auto;
  }

  .gallery__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .testimonials__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__body {
    -ms-grid-columns: (minmax(18.125rem, 1fr))[1];
    grid-template-columns: repeat(1, minmax(18.125rem, 1fr));
  }

  .contact__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "phone" "email" "address";
  }

  .contact__item--phone {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .contact__item--email {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .contact__item--address {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
}

@media (min-width: 20em) and (max-width: 66.25em) {
@supports (font-size: clamp( 2.25rem , 1.9256756757rem  +  1.6216216216vw , 3rem )) {
    .title {
      font-size: clamp( 2.25rem , 1.9256756757rem  +  1.6216216216vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.9256756757rem  +  1.6216216216vw , 3rem )) {
    .title {
      font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 46.25);
    }
}

@supports (min-height: clamp( 6.4914375rem , 5.8390861486rem  +  3.2617567568vw , 8rem )) {
    .header__container {
      min-height: clamp( 6.4914375rem , 5.8390861486rem  +  3.2617567568vw , 8rem );
    }
}

@supports not (min-height: clamp( 6.4914375rem , 5.8390861486rem  +  3.2617567568vw , 8rem )) {
    .header__container {
      min-height: calc(6.4914375rem + 1.5085625 * (100vw - 20rem) / 46.25);
    }
}

@supports (padding-top: clamp( 7.75rem , 6.9932432432rem  +  3.7837837838vw , 9.5rem )) {
    .menu__body {
      padding-top: clamp( 7.75rem , 6.9932432432rem  +  3.7837837838vw , 9.5rem );
    }
}

@supports not (padding-top: clamp( 7.75rem , 6.9932432432rem  +  3.7837837838vw , 9.5rem )) {
    .menu__body {
      padding-top: calc(7.75rem + 1.75 * (100vw - 20rem) / 46.25);
    }
}

@supports (padding-left: clamp( 2.5rem , 0.3378378378rem  +  10.8108108108vw , 7.5rem )) {
    .menu__body {
      padding-left: clamp( 2.5rem , 0.3378378378rem  +  10.8108108108vw , 7.5rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , 0.3378378378rem  +  10.8108108108vw , 7.5rem )) {
    .menu__body {
      padding-left: calc(2.5rem + 5 * (100vw - 20rem) / 46.25);
    }
}

@supports (min-height: clamp( 6.25rem , 5.4932432432rem  +  3.7837837838vw , 8rem )) {
    .menu__body {
      min-height: clamp( 6.25rem , 5.4932432432rem  +  3.7837837838vw , 8rem );
    }
}

@supports not (min-height: clamp( 6.25rem , 5.4932432432rem  +  3.7837837838vw , 8rem )) {
    .menu__body {
      min-height: calc(6.25rem + 1.75 * (100vw - 20rem) / 46.25);
    }
}

@supports (max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem )) {
    .menu__image {
      max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem );
    }
}

@supports not (max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem )) {
    .menu__image {
      max-width: calc(5.125rem + 3.375 * (100vw - 20rem) / 46.25);
    }
}

@supports (min-height: clamp( 12.875rem , 8.7398648649rem  +  20.6756756757vw , 22.4375rem )) {
    .footer__container {
      min-height: clamp( 12.875rem , 8.7398648649rem  +  20.6756756757vw , 22.4375rem );
    }
}

@supports not (min-height: clamp( 12.875rem , 8.7398648649rem  +  20.6756756757vw , 22.4375rem )) {
    .footer__container {
      min-height: calc(12.875rem + 9.5625 * (100vw - 20rem) / 46.25);
    }
}

@supports (padding-bottom: clamp( 1.5rem , 1.2837837838rem  +  1.0810810811vw , 2rem )) {
    .footer__container {
      padding-bottom: clamp( 1.5rem , 1.2837837838rem  +  1.0810810811vw , 2rem );
    }
}

@supports not (padding-bottom: clamp( 1.5rem , 1.2837837838rem  +  1.0810810811vw , 2rem )) {
    .footer__container {
      padding-bottom: calc(1.5rem + 0.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem )) {
    .footer__image {
      max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem );
    }
}

@supports not (max-width: clamp( 5.125rem , 3.6655405405rem  +  7.2972972973vw , 8.5rem )) {
    .footer__image {
      max-width: calc(5.125rem + 3.375 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__main {
      margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem );
    }
}

@supports not (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__main {
      margin-bottom: calc(4rem + 2.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 4rem , 2.8378378378rem  +  5.8108108108vw , 6.6875rem )) {
    .page__experience {
      margin-bottom: clamp( 4rem , 2.8378378378rem  +  5.8108108108vw , 6.6875rem );
    }
}

@supports not (margin-bottom: clamp( 4rem , 2.8378378378rem  +  5.8108108108vw , 6.6875rem )) {
    .page__experience {
      margin-bottom: calc(4rem + 2.6875 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__gallery {
      margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem );
    }
}

@supports not (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__gallery {
      margin-bottom: calc(4rem + 2.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__testimonials {
      margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem );
    }
}

@supports not (margin-bottom: clamp( 4rem , 2.9189189189rem  +  5.4054054054vw , 6.5rem )) {
    .page__testimonials {
      margin-bottom: calc(4rem + 2.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 4rem , 2.4864864865rem  +  7.5675675676vw , 7.5rem )) {
    .page__contact {
      margin-bottom: clamp( 4rem , 2.4864864865rem  +  7.5675675676vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 4rem , 2.4864864865rem  +  7.5675675676vw , 7.5rem )) {
    .page__contact {
      margin-bottom: calc(4rem + 3.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (min-height: clamp( 35.5rem , 31.9324324324rem  +  17.8378378378vw , 43.75rem )) {
    .main-page {
      min-height: clamp( 35.5rem , 31.9324324324rem  +  17.8378378378vw , 43.75rem );
    }
}

@supports not (min-height: clamp( 35.5rem , 31.9324324324rem  +  17.8378378378vw , 43.75rem )) {
    .main-page {
      min-height: calc(35.5rem + 8.25 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-left: clamp( 0.0000000625rem , -3.2432431537rem  +  16.2162160811vw , 7.5rem )) {
    .main-page__title {
      margin-left: clamp( 0.0000000625rem , -3.2432431537rem  +  16.2162160811vw , 7.5rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -3.2432431537rem  +  16.2162160811vw , 7.5rem )) {
    .main-page__title {
      margin-left: calc(0.0000000625rem + 7.4999999375 * (100vw - 20rem) / 46.25);
    }
}

@supports (max-width: clamp( 17.5rem , 11.5540540541rem  +  29.7297297297vw , 31.25rem )) {
    .main-page__title {
      max-width: clamp( 17.5rem , 11.5540540541rem  +  29.7297297297vw , 31.25rem );
    }
}

@supports not (max-width: clamp( 17.5rem , 11.5540540541rem  +  29.7297297297vw , 31.25rem )) {
    .main-page__title {
      max-width: calc(17.5rem + 13.75 * (100vw - 20rem) / 46.25);
    }
}

@supports (font-size: clamp( 2.875rem , 1.9560810811rem  +  4.5945945946vw , 5rem )) {
    .main-page__title {
      font-size: clamp( 2.875rem , 1.9560810811rem  +  4.5945945946vw , 5rem );
    }
}

@supports not (font-size: clamp( 2.875rem , 1.9560810811rem  +  4.5945945946vw , 5rem )) {
    .main-page__title {
      font-size: calc(2.875rem + 2.125 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 3.3125rem , 2.5827702703rem  +  3.6486486486vw , 5rem )) {
    .gallery__title:not(:last-child) {
      margin-bottom: clamp( 3.3125rem , 2.5827702703rem  +  3.6486486486vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 3.3125rem , 2.5827702703rem  +  3.6486486486vw , 5rem )) {
    .gallery__title:not(:last-child) {
      margin-bottom: calc(3.3125rem + 1.6875 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.7837837838rem  +  1.0810810811vw , 1.5rem )) {
    .gallery__items:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.7837837838rem  +  1.0810810811vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.7837837838rem  +  1.0810810811vw , 1.5rem )) {
    .gallery__items:not(:last-child) {
      margin-bottom: calc(1rem + 0.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (height: clamp( 8.1875rem , 4.8091216216rem  +  16.8918918919vw , 16rem )) {
    .gallery__item {
      height: clamp( 8.1875rem , 4.8091216216rem  +  16.8918918919vw , 16rem );
    }
}

@supports not (height: clamp( 8.1875rem , 4.8091216216rem  +  16.8918918919vw , 16rem )) {
    .gallery__item {
      height: calc(8.1875rem + 7.8125 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 2rem , 1.7837837838rem  +  1.0810810811vw , 2.5rem )) {
    .gallery__info:not(:last-child) {
      margin-bottom: clamp( 2rem , 1.7837837838rem  +  1.0810810811vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 2rem , 1.7837837838rem  +  1.0810810811vw , 2.5rem )) {
    .gallery__info:not(:last-child) {
      margin-bottom: calc(2rem + 0.5 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.8125rem , 0.4341216216rem  +  6.8918918919vw , 5rem )) {
    .testimonials__title:not(:last-child) {
      margin-bottom: clamp( 1.8125rem , 0.4341216216rem  +  6.8918918919vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.8125rem , 0.4341216216rem  +  6.8918918919vw , 5rem )) {
    .testimonials__title:not(:last-child) {
      margin-bottom: calc(1.8125rem + 3.1875 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.75rem , 1.6418918919rem  +  0.5405405405vw , 2rem )) {
    .testimonials__images:not(:last-child) {
      margin-bottom: clamp( 1.75rem , 1.6418918919rem  +  0.5405405405vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.75rem , 1.6418918919rem  +  0.5405405405vw , 2rem )) {
    .testimonials__images:not(:last-child) {
      margin-bottom: calc(1.75rem + 0.25 * (100vw - 20rem) / 46.25);
    }
}

@supports (margin-bottom: clamp( 1.8125rem , 0.7314189189rem  +  5.4054054054vw , 4.3125rem )) {
    .contact__title:not(:last-child) {
      margin-bottom: clamp( 1.8125rem , 0.7314189189rem  +  5.4054054054vw , 4.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.8125rem , 0.7314189189rem  +  5.4054054054vw , 4.3125rem )) {
    .contact__title:not(:last-child) {
      margin-bottom: calc(1.8125rem + 2.5 * (100vw - 20rem) / 46.25);
    }
}
}

@media (any-hover: hover) {
  .input:hover {
    border: 2px solid #CCD0E0;
  }

  .button:hover,
  .button--border:hover {
    color: #FFF;
    background: #005ECC;
    border: 2px solid #005ECC;
    -webkit-box-shadow: 0px 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0px 13px 27px rgba(0, 83, 181, 0.46);
  }

  .menu__link:hover::after {
    opacity: 1;
    width: 100%;
  }

  .call-to-order__link:hover::after {
    opacity: 1;
    width: 100%;
  }

  .icon-menu:hover::before {
    width: 75%;
  }

  .icon-menu:hover::after {
    width: 50%;
  }

  .menu-open .icon-menu:hover::before {
    width: 100%;
  }

  .menu-open .icon-menu:hover::after {
    width: 100%;
  }

  .gallery__item:hover::before {
    opacity: 0;
  }

  .testimonials__images img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

.webp .header{ background: url(../img/background-header.webp) center 0/cover; }

.webp .footer{ background: url(../img/background-footer.webp) 0 0/cover no-repeat; }

.webp .main-page{ background: url(../img/background.webp) center 0/cover; }